     pushi 0
     pushi 0
start
     read
     atoi
     storeg 0
     read
     atoi
     storeg 1
     pushg 0
     pushg 1
     equal
     pushg 1
     pushg 0
     sup
     add
     jz else1
     pushg 0
     writei
     jump endif1
else1:
     pushg 1
     writei
endif1:
     nop
     end
