     pushi 0
     pushi 0
     pushi 0
     pushi 0
start
     pushs "How many numbers you want to read?\n"
     writes
     read
     atoi
     storeg 1
while1:
     pushg 0
     pushg 1
     inf
     jz endWhile1
     read
     atoi
     storeg 2
     pushg 3
     pushg 2
     add
     storeg 3
     pushg 0
     pushi 1
     add
     storeg 0
     jump while1
endWhile1:
     pushs "Resultado: "
     writes
     pushg 3
     writei
     end
